@charset "UTF-8";

body {
    background-color: rgb(52, 50, 50);
}
#carousel-home {
    max-width: 1024px;
    max-height: 522px;
    background-size: cover;
}

.dropdown-menu :hover {
    background-color: rgb(129, 134, 129);
}

.banner-image{
	height: 200px;
    background-image: url('../img/nav5.jpg');
    background-size: cover;
}

@media (max-width: 990px) {
    #navbarNav {
        background-color: #212529e1;
        border-radius: 20px;
    }
}
